<h1>
  {{title}}
</h1>

<label>Course At App Level:</label>{{course | json }}

<!--<app-course-detail [course]="course"></app-course-detail>
<app-course-detail [course]="course"></app-course-detail>
<app-course-detail [course]="course"></app-course-detail>
<app-course-detail [course]="course"></app-course-detail>
<app-course-detail [course]="course"></app-course-detail>
<app-course-detail [course]="course"></app-course-detail>
<app-course-detail [course]="course"></app-course-detail>
<app-course-detail [course]="course"></app-course-detail>
<app-course-detail [course]="course"></app-course-detail>
<app-course-detail [course]="course"></app-course-detail>

<button (click)="changeCourse()">Make Changes</button>-->