<!--<h1>
  {{title}}
</h1>
<p>This is a paragraph from root component</p>
<hr/>-->
<!--<hello-comp></hello-comp>
<app-course-list></app-course-list>

<input type="text" value="ww" #input1 required/>
{{ input1 }}-->

<!--<app-add-course></app-add-course>-->
<!--<app-add-author></app-add-author>-->
<!-- template -->

<!--{{ sayHello() }}-->
<!--<app-course-cart></app-course-cart>-->

<!--<div *ngFor="let item of [1,2,3,4,5,6]">
      <card *appDelay="5000 * item">
        {{item}}
      </card>
</div>-->

<!-- custom pipe -->

<!--{{ 2 | powerOf:4:1000 | currency:'USD':true }}-->

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
        <li><a [routerLink]="['/courses']" routerLinkActive="active">Courses</a></li>
         <li><a [routerLink]="['/cart']"  routerLinkActive="active">Cart</a></li>
        <li><a [routerLink]="['/add-course']"  routerLinkActive="active">Add Course</a></li>
        <li><a [routerLink]="['/add-author']"  routerLinkActive="active">Add Author</a></li>
    </ul>
  </div>
</nav>

<header>
  <h3>Online Courses Application</h3>
  <p>A market place for amazing free and paid courses</p>
</header>
<router-outlet></router-outlet>
<footer>
  <p>All rights reserved</p>
</footer>