<h2>Course List</h2>

<app-course-detail [courseTitle]="courseTitle1" [courseDesc]="'By Google'" (courseClicked)="CourseClicked($event)"></app-course-detail>
<app-course-detail [courseTitle]="courseTitle2" [courseDesc]="'By Google'" (courseClicked)="CourseClicked($event)"></app-course-detail>
<app-course-detail [courseTitle]="courseTitle3" [courseDesc]="'By Google'" (courseClicked)="CourseClicked($event)"></app-course-detail>
<app-course-detail [courseTitle]="courseTitle4" [courseDesc]="'By Google'" (courseClicked)="CourseClicked($event)"></app-course-detail>
