<h3>Course List</h3>

<input type="text" [(ngModel)]="favoriteCourse" (blur)="userNameLostFocus($event)"/>
<label>{{favoriteCourse}}</label>

<label>Show Courses :</label>
<input type="radio" name="showCourses" value="FREE" [(ngModel)]="coursesFilter"/>FREE
<input type="radio" name="showCourses" value="PREMIUM" [(ngModel)]="coursesFilter"/>PREMIUM


<!-- HOST -->

<div *ngFor="let course of courses">
<app-course-detail *ngIf="coursesFilter=='FREE' && !course.isPaid"
            [courseTitle]="course.title" 
            [courseDesc]="course.desc" 
            [isPaid]="course.isPaid"
            [price]="course.price"
            [course]="course"
            (courseClicked)="CourseClicked($event)">
</app-course-detail>
<app-course-detail *ngIf="coursesFilter=='PREMIUM' && course.isPaid"
            [courseTitle]="course.title" 
            [courseDesc]="course.desc" 
            [isPaid]="course.isPaid"
            [price]="course.price"
            [course]="course"
            (courseClicked)="CourseClicked($event)">
</app-course-detail>
</div>
